<!DOCTYPE html>
<html lang="eng">
</html>
<body bgcolor="LightYellow">
<h1>Investing Playground</h1>
<form action="#", method="post">
    <p>Starting monthly SIP:  <input type="number", name="start_sip", value="30000">INR</p>
    <p>Total tenure (in years): <input type="number", name="total_years", value="30"> years</p>
    <p>Expected CAGR Return (in %): <input type="number", name="return1", value="10">% &nbsp&nbsp&nbsp&nbsp<input type="number", name="return2", value="15">% 	&nbsp&nbsp&nbsp&nbsp<input type="number", name="return3", value="20">%</p>
    <p>Yearly increment in SIP (in %): <input type="number", name="incr1", value="0">%&nbsp&nbsp&nbsp&nbsp <input type="number", name="incr2", value="10">% </p>
    <p><input type="submit", name="submit"></p>
</form>
</body>
